.form-card {
    width: 100%;
    margin: 20px 0;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
}

.user_img img {
    cursor: pointer;
    height: 170px;
    width: 160px;
}

.user_img div {
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    margin-bottom: 5px;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
}

.user_img:hover div {
    width: 150px;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7;
}

.user_img input {
    display: none;
}

.form-input {
    padding: 0px 8px 4px 8px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    /*font-family: montserrat;*/
}

.form-input {
    background-color: #ffffff;
}

select.form-control:not([size]):not([multiple]) {
    height: 33px;
}

.form-card .row {
    margin-top: 20px;
}

.form-card button:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.button-grp button {
    display: block;
    margin: 10px 20px;
}

.defaultButton:active, .defaultButton:focus, .defaultButton:active:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}

.card_detail {
    max-width: 100%;
    background-color: powderblue;
    background-color: powderblue;
    padding-left: 5%;
    padding-bottom: 5%;
    margin-bottom: 3%;
    border-radius: 8px;
    padding-top: 1.5%;
    width: 140%;
}
@media screen and (min-width: 0px) and (max-width: 500px) {
    .card_view {
        display: block;
    }
    .table_view{
        display: none;
    }
}

@media screen and (min-width: 501px){
    .table_view {
        display: block;
    }
    .card_view {
        display: none;
    }
}
summary {
    display: block;
    cursor: pointer;
    padding: 12px;
    font-family: "Space Mono", monospace;
    font-size: 22px;
    transition: .3s;
    user-select: none;
}
.label_inp{
    font-size: 13px;
    padding: 0px 2px 4px;
}
.header-service-centre {
    text-align: center;
    font-size: 30px;
    margin-top: -20px;
    /*margin-top: 15%;*/
}

.service-img {
    object-fit: cover;
    position: absolute;
    left: 0;
    width: 100%;
}

.btn-tertiary {
    color: #555;
    padding: 0;
    line-height: 40px;
    display: block;
    border: 1px solid #555;
}

.btn-tertiary:hover, .btn-tertiary:focus {
  color: #888888;
  border-color: #888888;
}

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.input-file + .js-labelFile {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 10px;
  cursor: pointer;
}

.input-file + .js-labelFile .icon::before {
  content: "\f093";
}

.input-file + .js-labelFile.has-file .icon::before {
  content: "\f00c";
  color: #5aac7b;
}

@media screen and (min-width: 0px) and (max-width: 500px) {
    .help-text {
        margin-top: 77%;
    }

    .service-img {
        object-position: 100% 50%;
        height: 275px;
    }
}

@media screen and (min-width: 501px) {
    
    .service-img {
        object-position: 50% 50%;
        height: 335px;
    }
}

@media screen and (min-width: 501px) and (max-width: 991px) {
    .help-text {
        margin-top: 65%;
    }

}
@media screen and (min-width: 992px) {
    .help-text {
        margin-top: 35%;
    }
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
@media screen and (min-width: 0px) and (max-width: 500px) {
    .button_service{
        width:55%;
    }
}

@media screen and (min-width: 501px) {
    .button_service {
        width: 33%;
    }
}
.button_service_1 {
    width: 100%;
}
.button_service {
    height: -webkit-fill-available;
    cursor: pointer;
    border-radius: 15px;
    font-size: 19px;
    background-color: #7d60d6;
    border-color: #7d60d6;
    color: white;
}
.div_button {    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 4px;
}
.button_service:focus{
    border-color: white;
}
.header_text{
    font-size: 30px;
}
.back_button{
    margin-bottom: 2%;
    float: right;
}
textarea {
    max-width: 95%;
}
.link {
    background-color: #EFEFEF;
    color: #333333;
    padding: 12px;   
}
.fetch{
    display:none;
}
.remove {
    color:#b13838;
    cursor:pointer;
}
.bodyclass {
    background-color: #f1f1f1ad;
    padding-top:0px !important;
}

.table_row td a {
    text-decoration: none;
    color: #3737a9;
}

.table_row td a:hover {
    color: #7373d8; 
}

.nav-item {
    padding: 4px;
    font-size: 16px;
}
@media screen and (min-width: 501px) {
    .first {
        margin-left: 40px;
    }
}
/* ===================================== Footer Design CSS ==================================== */

.col_white_amrc
{
    color: #FFF;
}

footer {
    width: auto;
    padding: 0px 0px 25px 0px;
    height: auto;
    min-height: 480px;
    background-image: url("footer-bkg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.pt2 {
    padding-top: 40px;
    margin-bottom: 20px;
    font-size: 20px;
}

footer p {
    font-size: 15px;
    color: #CCC;
    padding-bottom: 0px;
    margin-bottom: 8px;
    font-family: "Open Sans", sans-serif;
}

footer h4 {
    font-family: "Open Sans", sans-serif;
}

.mb10
{
    padding-bottom: 15px;
}

.social_footer_ul
{
    display: table;
    margin: 15px auto 0 auto;
    list-style-type: none;
}

.social_footer_ul li:not(:first-child)
{
    padding-left: 20px;
}

.social_footer_ul li
{
    padding-top: 10px;
    float: left;
}

.social_footer_ul li a
{
    padding: 8px;
    border-radius: 50%;
    outline: none;
    border: none;
}

.social_footer_ul li a:hover i, .triggeredHover
{
    transform: rotate(360deg);
    transition: all 0.2s;
}

    .social_footer_ul li i {
        width: 20px;
        height: 20px;
        text-align: center;
        color: #fff;
        transition: all 0.8s;
        font-size: 17px;
        margin-top: 3px;
    }

/* ===================================== Footer Design CSS ==================================== */

/*.footer-top {
    padding: 20px 0px;
    background: #333;
    text-align: left;
    color: #aaa;
}

.footer-top .footer-social {
    left: 8em;
}

    .footer-top .footer-social {
        left: 7em;
    }
}

.footer-last {
    position: relative;
    left: 8em;
}*/

.img_nav {
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
    width: auto;
}
#page-container {
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    position: relative;
    min-height: 100vh;
}

/*#content-wrap {
    padding-bottom: 2.5rem;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}
html, body {
    min-height: 100%;
}*/

body {
    height: 100vh;
}
.lft-bg {
    width: 600px;
    height: auto;
    left: 0;
    position:absolute;
}
.rgt-bg {
    width: 500px;
    height: auto;    
    right: 0; 
    position:absolute;
}
@media only screen and (max-width: 1920px) {
    .lft-bg {
        width: 450px;
    }
    .rgt-bg{
        width: 450px;
    }
}
.dashboard {
    position: relative;    
    margin: 0 auto;
}
.dashboard-img {
    margin: 0px;
    padding: 0px;
    object-fit: cover;
    width: 100%;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
   
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.container {
    padding: 2px 16px;
}
.card {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    border-radius: 10px;
    text-align: center;
    height: auto;
    max-width: 400px;
}
.card-img {
    border-radius: 5px 5px 0 0;
}
.home-body{
    margin-top: 5%;
}
.card-row {    
    margin-bottom: 30px;
}
.card-text{
    margin-top: 5%;
}

.dashboard .btn-img {
    position: absolute;
    bottom: 100px;
    left: 15px;
    width: 100%;
    padding: 40px;
}

.tag-text {
    color: #ffffff;
    margin: 0;
    position: absolute;
    top: 0;
    left: 49%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.main_btn_div a {
    margin-right: 30px;
}

@media screen and (max-width: 386px) {
    .main_btn_div {
        position: relative;
        top: 20px;
    }
}

@media screen and (min-width: 0px) and (max-width: 731px) {
    .dashboard-img {
        object-position: 100% 50%;
        height: 400px;
    }
}

@media screen and (min-width: 731px) {
    .dashboard-img {
        object-position: 50% 50%;
        height: 400px;
    }

    .card-row {
        margin-left: 40px;
    }
}

.checkboxclass {
    font-size: 17px;
    margin-left: 7px;
}

.faq-main img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

.faq_division {
    width: 100%;
    padding: 6%;
    padding-right: 10%;
    background-color: #ffffff;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    transition: all 0.3s ease 0s;
}

.faq-title {
    width: 7%;
    margin: -50px auto 50px;
    font-weight: 600;
    line-height: 1;
    border-bottom: 1px solid #E91E63;
}

.faqsummary {
    cursor: pointer;
    border-bottom: 1px dashed #CEE1F8;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    color: #3B566E;
    line-height: 22px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.faqsummary:hover {
    background: rgba(233, 30, 99, 0.1);
    padding-left: 25px;
}

.faqanswer {
    font-weight: 400;
    font-size: 16px;
    color: #6F8BA4;
    line-height: 28px;
    letter-spacing: 1px;
    font-family: serif;
}

@media screen and (min-width: 0px) and (max-width: 500px){
    .sec_button {
        margin-top: 2%;
    }  
}
@media screen and (min-width: 200px)
{
    .home-body
    {
        margin-left:-15px;
    }

    .q-links-body
    {
        margin-top: 5%;
        padding: 0;
        padding-left: 10px;
    }

    .quick-links
    {
        margin-top: 10%;
        font-weight: bold;
        font-size: 15px;
    }

    .quick-links ul
    {
        text-align: center;
        margin-left: -4em;
    }

    .quick-links ul li
    {
        list-style-type: none;
        position: relative;
        overflow: hidden;
    }

    .quick-links ul li a
    {
        color: #0c283796;
        text-decoration: none;
        list-style-type: none;
        display: block;
    }

    .quick-links ul li a:before
    {
      content: '';
      border-bottom: solid 1px #d9534f;
      position: absolute;
      bottom: 0; left: 30%;
      width: 0;
      transform: scale(0); 
    }

    .quick-links ul li a:hover:before
    {
       border-bottom: solid thin #d9534f;
       width: 40%;
       animation: heartbeat-x 1.7s infinite ease-in;
    }

    .quick-links ul li a:hover
    {
       animation: heartbeat 1.7s infinite ease-in;
    }

    @keyframes heartbeat
    {
      0% { transform: scale(1); }
      10% { transform: scale(1.1); }
      20% { transform: scale(1); }
      30% { transform: scale(1.1); }
      40% { transform: scale(1); }
    }

    @keyframes heartbeat-x
    {
      0% { transform: scaleX(0); }
      10% { transform: scaleX(1); }
      20% { transform: scaleX(0); }
      30% { transform: scaleX(1); }
      40% { transform: scaleX(0); }
    }

    .link-text {
        padding:8px;
    }
    .dashboard-page {
        margin-left: 15px;
    }    
}

.congrats_class {
    text-align: center;
    font-family: cursive;
}

.pending {
    text-align: center;
    margin-top: 3%;
    font-size: 20px;
}

.pending a {
    color: #453886;
    padding-bottom: .25em;
    text-decoration: none;
}

.pending a:hover {
    background-position: bottom;
    background-size: 20%;
    padding-bottom: .3em;
    text-decoration: none;
    font-size: 22px;
    transition: .3s;
}

.close:focus {
    outline: none;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
        opacity: 1;
}

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #04AA6D;
        cursor: pointer;
    }

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}
.label_loan_amount{
    font-size:19px;
    margin:1%;
}
.loanamount {
    text-align: center;
    border-bottom: none !important;
    color: #d64812 !important;
    font-weight: 600;
    font-size: x-large !important;
}
#cont {
    width: 100%;
}

#left {
    float: left;
}

#right {
    float: right;
}