.form-input {
    background: transparent;
    padding: 0px 8px 4px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    /*font-family: montserrat;*/
    color: black;
    font-size: 16px;
    letter-spacing: 1px
}

    .form-input:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: none;
        font-weight: bold;
        border-bottom: 2px solid skyblue;
        outline-width: 0
    }

.card_detail {
    max-width: 100%;
    background-color: powderblue;
    background-color: powderblue;
    padding-left: 5%;
    padding-bottom: 5%;
    margin-bottom: 3%;
    border-radius: 8px;
    padding-top: 1.5%;
    width: 140%;
}
@media screen and (min-width: 0px) and (max-width: 500px) {
    .card_view {
        display: block;
    }
    .table_view{
        display: none;
    }
}

@media screen and (min-width: 501px){
    .table_view {
        display: block;
    }
    .card_view {
        display: none;
    }
}
summary {
    display: block;
    cursor: pointer;
    padding: 10px;
    font-family: "Space Mono", monospace;
    font-size: 22px;
    transition: .3s;
    border-bottom: 2px solid;
    user-select: none;
}
.label_inp{
    padding: 0px 8px 4px;
}
.header-service-centre{
    text-align:center;
    font-size:30px;
    margin-top: 15%;
}
@media screen and (min-width: 0px) and (max-width: 500px) {
    .button_service{
        width:55%;
    }
}

@media screen and (min-width: 501px) {
    .button_service {
        width: 33%;
    }
}

.button_service{
    height: -webkit-fill-available;
    cursor: pointer;
    border-radius: 15px;
    font-size: 19px;
}
.div_button {    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 4px;
}
.button_service:focus{
    border-color: white;
}
.header_text{
    font-size: 30px;
}
.back_button{
    margin-bottom: 2%;
    float: right;
}
textarea {
    max-width: 95%;
}
.link {
    background-color: #EFEFEF;
    color: #333333;
    padding: 12px;   
}
.fetch{
    display:none;
}
.remove {
    color:#b13838;
    cursor:pointer;
}
