
@{
    ViewBag.Title = "ServiceCentre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div>
        <div style="position: relative;">
            <h2 style="text-align: center;">Service Centre</h2>
        </div>
        <br />
        <div id="header-service-centre" class="header-service-centre">
            <div>How can we help you ?</div>
            <br/>
            <div class="div_button"><button id="button_general" type="button" class="btn btn-light button_service">General Queries</button></div>
            <div class="div_button"><button id="button_application" type="button" class="btn btn-light button_service">Application</button></div>
            <div class="div_button"><button id="button_agreement" type="button" class="btn btn-light button_service">Agreements</button></div>
            <div class="div_button"><button id="button_loantype" type="button" class="btn btn-light button_service">Loan Types</button></div>            
        </div>
        <div id="header_button_general" style="display:none;">
            <button id="check_button_general" type="button" class="btn btn-light back_button">Back</button>
            <div class="header_text">General Queries</div>
            <br />
            <form method="post" action="~/Service/Submit_general">
                <textarea cols="80" rows="7"></textarea>
            </form>
        </div>
        <div id="header_button_application" style="display:none;">
            <button id="check_button_application" type="button" class="btn btn-light back_button">Back</button>
            <div class="header_text">Applications</div>
            <br />
            <form method="post" action="~/Service/Submit_application">
                <textarea cols="80" rows="7"></textarea>
            </form>
        </div>
        <div id="header_button_agreement" style="display:none;">
            <button id="check_button_agreement" type="button" class="btn btn-light back_button">Back</button>
            <div class="header_text">Agreements</div>
            <br />
            <form method="post" action="~/Service/Submit_agreement">
                <textarea cols="80" rows="7"></textarea>
            </form>
        </div>
        <div id="header_button_loantype" style="display:none;">
            <button id="check_button_loantype" type="button" class="btn btn-light back_button">Back</button>
            <div class="header_text">Loan Types</div>
            <br />
            <form method="post" action="~/Service/Submit_product">
                <textarea cols="80" rows="7"></textarea>
            </form>
        </div>
    </div>
@Scripts.Render("~/Scripts/Service.js")

