
@{
    ViewBag.Title = "dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        <div class="dashboard">
            <img class="dashboard-img" src="~/homepage-banner.jpg" />           
        </div>        
    </div>
    <div class="container home-body">
        <div class="card-row row">
            <div class="col-md-4">
                <div class="card">
                    <div class="container-fluid">
                        <h4><b>Home Loans</b></h4>
                        <img class="card-img" src="~/Card-images/card-image.jpg" alt="" style="width:100%">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>                        
                        <div class="go-button-div"><a class="btn btn-light button_service_1 go-button" href="/Service/Queries" style="padding-top: 13px;">Back</a></div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card">
                    <div class="container-fluid">
                        <h4><b>Home Loans</b></h4>
                        <img class="card-img" src="~/Card-images/card-image.jpg" alt="" style="width:100%">                        
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>                        
                        <div class="go-button-div"><a class="btn btn-light button_service_1 go-button" href="/Service/Queries" style="padding-top: 13px;">Back</a></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="container-fluid">
                        <h4><b>Home Loans</b></h4>
                        <img class="card-img" src="~/Card-images/card-image.jpg" alt="" style="width:100%">                       
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <div class="go-button-div"><a class="btn btn-light button_service_1 go-button" href="/Service/Queries" style="padding-top: 13px;">Back</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-row row">
            <div class="col-md-4">
                <div class="card">
                    <div class="container-fluid">
                        <h4><b>Home Loans</b></h4>
                        <img class="card-img" src="~/Card-images/card-image.jpg" alt="" style="width:100%">                        
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <div class="go-button-div"><a class="btn btn-light button_service_1 go-button" href="/Service/Queries" style="padding-top: 13px;">Back</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="container-fluid">
                        <h4><b>Home Loans</b></h4>
                        <img class="card-img" src="~/Card-images/card-image.jpg" alt="" style="width:100%">                        
                        <p class="card-text" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>                       
                        <div class="go-button-div"><a class="btn btn-light button_service_1 go-button" href="/Service/Queries" style="padding-top: 13px;">Back</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="container-fluid">
                        <h4><b>Home Loans</b></h4>
                        <img class="card-img" src="~/Card-images/card-image.jpg" alt="" style="width:100%">                        
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <div class="go-button-div"><a class="btn btn-light button_service_1 go-button" href="/Service/Queries" style="padding-top: 13px;">Back</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

