@using NBFC_App___dev.Models;
@{
    ViewBag.Title = "Home Page";
}
@{
    var data = ViewBag.Message;
}
<div>
    <div style="position: relative;">
        <h2 style="text-align: center;">My Loans</h2>
    </div>
    <br />
    <div class="container-fluid">
        <table class="table">
            <thead>
                <tr style="background: powderblue;">
                    <th scope="col">S.no</th>
                    <th scope="col">Loan Type</th>
                    <th scope="col">Product Type</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                 @foreach (var loan in (IEnumerable<Loan>)ViewData["LoanData"])
                  {
                     <tr class="table_row">
                         <td>@loan.loantype</td>
                         <td>@loan.producttype</td>
                         <td>@loan.amount</td>
                         <td>@loan.status</td>
                     </tr>                    
                  }
            </tbody>
        </table>
    </div>
</div>
