@using NBFC_App___dev.Models;
@{
    ViewBag.Title = "MakePayment";
}
<div>
    <div style="position: relative;">
        <h2 style="text-align: center;">Payments</h2>
    </div>
    <br />
    <div class="container-fluid">
        <form method="post" action="/Home/Fetch">
            <div class="form-card">
                <div class="row">
                    <div class="col-md-6">
                        <select id="agreement_select" class="form-input" required>
                            <option value="-1">Select Your Agreement </option>
                            @foreach (var agr in (IEnumerable<Agreements>)ViewData["AgreementData"])
                            {
                                <option value="@agr.id,@agr.loantype">@agr.number</option>
                            }
                            
                        </select>
                        <input hidden id="agreement" class="form-input" placeholder="Agreement" name="agrnumber" />
                        <input  id="loantype" class="form-input" placeholder="Loan Type" name="agrloantype" />
                    </div>
                    
                </div>                    
                <button id="save" type="submit" class="btn btn-primary">Fetch Details</button>              
            </div>
        </form>        
    </div>
</div>
@Scripts.Render("~/Scripts/about.js")