@using NBFC_App___dev.Models;
@{
    ViewBag.Title = "Products";
}

@{
    var data = ViewBag.Message;
}

<div>
    <div style="position: relative;">
        <h2 style="text-align: center;">Loan Products</h2>
    </div>
    <br />
    <div class="container-fluid">
        <table class="table">
            <thead>
                <tr style="background: powderblue;">
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var prd in (IEnumerable<Products>)ViewData["ProductsData"])
                {
                <tr class="table_row">
                    <td>@Html.ActionLink(@prd.name, "ProductsInfo", new { Id = @prd.id })</td>
                    <td>@prd.type</td>

                </tr>

                }
            </tbody>
        </table>
    </div>
</div>

